// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

// Variables
@import "variables";

// Reset
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// General
body {
  font-family: "DM Sans", sans-serif;
  background-color: $background;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 530px;
}

// Balance Section
.balance-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 23px;
  border-radius: 8px;

  .balance {
    color: $light-text;

    &-title {
      font-size: 15px;
      font-weight: 400;
    }

    &-amount {
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 5px;
    }
  }

  .logo {
    width: 57px;
    height: 38px;
    background-image: url(../images/logo.svg);
    background-size: cover;
  }
}

.spending-info {
  background-color: $light-text;
  padding: 28px;
  border-radius: 8px;
  margin: 15px 0 10px;

  // Chart section
  caption {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: $primary-text;
    text-align: left;
  }

  .chart {
    --color: #ec775f;
  }

  .column {
    height: 220px;
  }

  .current-day {
    --color: #76b5bc;
  }

  .bar-el:hover {
    --color: #ff9b87;
  }

  .bar-el:hover .current-day {
    --color: #b4dfe5;
  }

  .label {
    font-size: 12px;
    font-weight: 400;
    color: $secondary-text;
  }

  .bar {
    border-radius: 4px;
    transition: all 500ms ease-in-out;

    .data {
      position: relative;
      bottom: 28px;
      font-size: 12px;
      color: $light-text;
      background-color: $primary-text;
      padding: 4px;
      border-radius: 4px;
      margin-left: -10px;
      margin-right: -10px;
      transition: all 500ms ease-in-out;
    }
  }

  hr {
    border: 1px solid $background;
    margin: 15px 0 18px;
  }

  // Monthly spending
  .month-spending {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .month-total {
      &-title {
        font-size: 15px;
        font-weight: 400;
        color: $secondary-text;
        margin-bottom: 3px;
      }

      &-amount {
        font-size: 30px;
        line-height: 100%;
        font-weight: 700;
        color: $primary-text;
        text-align: right;
      }
    }

    .comparison {
      &-percentage {
        font-weight: 700;
        color: $primary-text;
        text-align: right;
      }

      &-descr {
        font-size: 15px;
        color: $secondary-text;
      }
    }
  }
}

// Attribution
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 992px) {
  .balance-el,
  .spending-info {
    border-radius: 20px;
  }

  .balance-el {
    padding: 30px;

    .balance-title {
      font-size: 17px;
    }

    .balance-amount {
      font-size: 30px;
      margin-top: 10px;
    }

    .logo {
      width: 74px;
      height: 50px;
    }
  }

  .spending-info {
    padding: 35px;

    caption {
      font-size: 30px;
      letter-spacing: 1px;
    }

    .bar {
      .data {
        bottom: 38px;
        font-size: 16px;
        padding: 7px;
      }
    }

    hr {
      margin: 26px 0 30px;
    }

    .month-spending {
      .month-total-title,
      .comparison-descr {
        font-size: 17px;
      }

      .month-total-amount {
        font-size: 45px;
      }

      .comparison-percentage {
        font-size: 18px;
      }

      .comparison-descr {
        margin-top: 4px;
      }
    }
  }
}
